*{ 
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
body {
   background-color: #6b6b6b;
}

.wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 150px;
}
/* basic card structure */
.card{
    width: 90%;
    max-width: 650px; 
    background-color: #9c9aff;
    color: #fff; 
    margin-top: 150px auto 0;
    border-radius: 30px; 
    padding: 40px 35px;
    text-align: center;
    border: 8px solid  rgb(71, 61, 95);
}

/* latest searches */
.previous-search-container{
    width: 90%;
    height: calc();
    max-width: 180px; 
    background-color: #9c9aff;
    color: #fff; 
    margin-top: 150px auto 0;
    border-radius: 30px; 
    padding: 40px 35px;
    text-align: center;
    margin-right: 5px;
    justify-content: center;
    position: relative;
}
.previous-box{
    width: 93%;
    height: 97%;
    position: absolute;   /* position relative to outer box */
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%); /* translate box by -50% */
    border-radius: 25px;
    background-color: #d1d0f5;
    color: #555;
    align-items: center;
    border: 5px solid rgb(120, 104, 162);
}
.prev-search {
    margin-left: 5%;
    width: 90%;
    height: 25px;
    border-radius: 10px;
    background-color: #9c9aff;
    color: #ffffff;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.prev-search:hover {
    background-color: #dad0f0;
    cursor: pointer;
}
.prev-search:active{
    background-color: #b59aff;
}
.prev-search p{
margin-left: 10px;
}

.pinned {
    height: 32px;
    width: 96%;
    margin-left: 2px;
    border: 3px solid rgb(228, 236, 249);
}
.time-oclock {
    margin-top: 15px;
    margin-left: 0%;
    margin-bottom: 15px;
    width: 100%;
    font-size: x-large;
   
    /* border-radius: 20px; */
    background-color: transparent;
    color: #555;
    
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.time-oclock p{
    margin-left: 0;

}
.prev-search img {
    height: 20px;
    margin-right: 10px;
}

/* new search */
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
border: 0;
outline: 0;
background: #ebfffc;
color: #555;
padding: 10px 25px;
height: 60px;
border-radius: 30px;
flex: 1;
margin-right: 16px;
font-size: 18px;
}
.search button {
    border: 0;
    outline: 0;
    cursor: pointer;
}

/* unused */
/* .more-specific {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.specifics {
   
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    color: #474545;
    font-size: larger;
    margin: 20px;
     margin-top: 15px;
}
select {
    border: 0;
outline: 0;
background: #ebfffc;
color: #555;
width: 150px;
height: 35px;
border-radius: 30px;
flex: 1;
margin-top: 5px;
font-size: 18px;
} */

/* returned results */
.search div img{
    background-color: #ebfffc;
    border-radius: 30px;
    padding: 12px;
    height: 60px;
    width: 60px;
}
.search div img:hover{
    background-color: #b0a8d3;
    border-radius: 30px;
    padding: 12px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    border: 3px solid white;
}
.search div img:active{
    background-color: #9f8dfb;
    border-radius: 30px;
    padding: 12px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    border: 3px solid white;
}
.mini-weather-card{
    background-color: #a3a6ff;
    width: 75% ;
    margin: auto;    
    margin-top: 20px;
    border-radius: 15px;
    /* border: 8px solid  #b3b6ff; */
}
.weather .weather-icon {
    height: 190px;
}
.location{
    margin-top: 3px;
    margin-bottom: 20px;
    padding-bottom: 12px;
}
.weather-description{
    margin-top: 30px;
    margin-bottom: -5px;
    padding-top: 12px;
}
/* more information about results */
.more-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    margin-top: 35px;
}
.column p {
    margin-bottom: 7px;
    font-size: larger;
}
.temps {
    margin-left: 8px;
}

.column .temp-high p{
    margin-top: 9px;
    font-size: medium;
}
.column .temp-low p{
    margin-top: 9px;
    font-size: small;
}
.info{
    display: flex;
    flex-direction: row;
}
.info img {
    height: 85px;
}
.the-wind{
    margin-top: 30px;
}

/* five day css */
.five-day-icon img {
    width: 85px;
    height: 70px;
}
.five-day-card{
    background-color: #8386c4;
    width: 95px;
    height: 140px;
    border-radius: 12px;
}
.five-day-container{
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}
.five-day-date{
    font-size: large;
    margin-top: 5px;
}
.five-day-temp{
    position: absolute;
    
    transform: translate(115%, -20%); 
    font-size: x-large;
}

.five-low{
    transform: translate(200%, 105%); 
    font-size: medium;
}